@use "./base.scss";

// put your custom CSS here!

// one day I'll fix the dark mode toggle button,  for now it just looks junk
.darkmode{
  display: none;
}

a {
  font-weight: 500;
}

// mobile only
@media (min-width: 0px) and (max-width: 480px) {

  .title-search {
    margin-top: auto;
    margin-right: 1em;
    div {
      margin-top: 1em;
    }
  }

  .profile img {
    max-width: 6em;
  }
}

// tablet only
@media (min-width: 480px) and (max-width: 1513px) {

  .profile img {
    max-width: 6em;
  }
}

// desktop only, 1512px and up
@media (min-width: 1512px) {
  
  .profile img {
    max-width: 14em;
  }
}

/* ALL WIDTH RULES */

.profile {
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
}

.search {
  max-width: none;
  flex-grow: 1000;
}







/* UTILITY CLASSES */


.ml-0 {
  margin-left: 0 !important
}

.mb-1 {
  margin-bottom: 0.25rem;
}

.mr-2 {
  margin-right: 0.5rem;
}
