@use "./base.scss";

// put your custom CSS here!

// tablet width
@media (min-width: 768px) {

}

// full width
@media (min-width: 1512px) {
  .social-links {
    margin-top: -25px !important;

    a.social-link {
      margin-right: 15px;
    }
  }
}

.search {
  max-width: none;
  flex-grow: 1000;
}

.search.mobile-only {
  margin-left: 15px;
  margin-right: 15px;
}

.profile-picture.mobile-only {
  margin: 15px;
  img {
    max-height: 6em;
  }
}